<component name="ArtifactManager">
  <artifact type="war" name="springboottask:war">
    <output-path>$PROJECT_DIR$/springboottask/target</output-path>
    <root id="archive" name="spring-boot-task-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboottask:war exploded" />
    </root>
  </artifact>
</component>